@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Passion+One:wght@400;700;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftLogin {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leftLogin > h1 {
  color: #77ffc0;
  font-size: 3vw;
}

.catAstronaut {
  width: 35vw;
}

.rightLogin {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardLogin {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.cardLogin > h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textField {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textField > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffde;
  font-size: 1em;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
}

.textField > label {
  color: #f0ffde;
  margin-bottom: 10px;
}

.textField > input::placeholder {
  color: #f0ffff94;
}

.btnLogin {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media (max-width: 1200px) {
  .cardLogin {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .leftLogin {
    width: 100%;
    height: auto;
  }

  .rightLogin {
    width: 100%;
    height: auto;
  }

  .cardLogin {
    width: 90%;
  }

  .catAstronaut {
    width: 25vh;
  }
}
